.body {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0 auto;
}