.converter {
    min-height: 1086px;
    background-color: #E5E5E5;
    position: relative;
    padding-bottom: 24px;
}

.converter__title {
    font-weight: 700;
    font-size: 41px;
    padding-top: 49px;
    margin-top: 0;
}

.converter__content {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto auto;
    grid-row-gap: 86px;
    grid-column-gap: 117px;
    position: relative;
    margin-bottom: 97px;

    &::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 34px;
        background: url('../../images/arrows.svg') no-repeat center;
        top: 81px;
        left: 562px;
    }
}

.converter__item {
    display: grid;
    grid-template-columns: 390px 120px;
    grid-column-gap: 15px;
    grid-template-rows: auto auto;
}

.converter__item-text {
    font-size: 22px;
    font-weight: 500;
    grid-column-start: 1;
    grid-column-end: -1;
}

.converter__input,
.converter__input--date {
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    width: 100%;
    border: 1px solid #1F1E25;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 24px;
    line-height: 33.6px;
    font-weight: 500;
    color: #000000;
    text-align: center;
    background-color: transparent;
}

.converter__input::placeholder {
    color: #000000;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    width: 120px;
    height: 60px;
    font-size: 24px;
    padding-left: 19px;
    border: 1px solid #1F1E25;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 33.6px;
    font-weight: 500;
    background: url('../../images/select-bg.svg') no-repeat 87% 56%;
}


.converter__input--date {
    width: 390px;
    justify-self: left;
    background: url('../../images/calendar.svg') no-repeat 94.5% 44%;

    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }
}

.converter__input--date::placeholder {
    color: #000000;
}

.converter__btn,
.converter__history-btn {
    font-family: 'Roboto', 'Arial', sans-serif;
    background-color: #2C36F2;
    color: #F6F7FF;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
}

.converter__btn {
    padding: 18px 101px;
    justify-self: right;
}

.convert__history {
    background-color: #F6F7FF;
    border-radius: 0px 4px 4px 4px;
    width: 1170px;
    min-height: 477px;
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-rows: auto 240px auto;

    &::after {
        position: absolute;
        content: "";
        width: 0.5px;
        height: 289px;
        border: 1px solid #C1C2CA;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: #C1C2CA;
        top: 100px;
        left: 585px;
    }
}

.convert__history-title {
    font-size: 28px;
    font-weight: 500;
    color: #1F1E25;
    margin: 0;
    padding-top: 48px;
    padding-left: 70px;
}

.convert__history-list {
    list-style: none;
    padding-left: 70px;
    margin-top: 16px;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-column-gap: 238px;
}

.convert__history-item {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 24px;
    display: grid;
    grid-template-columns: 120px 156px 120px;
}

.convert__history-item > p {
    margin: 0;
}

.convert__history-item-amount {
    padding-right: 62px;
    padding-left: 12px;
    position: relative;

    &::after {
        position: absolute;
        content: '';
        width: 40px;
        height: 16px;
        background: url('../../images/arrow.svg') no-repeat center;
        top: 4px;
        left: 104px;
    }
}

.converter__history-btn {
    justify-self: left;
    align-self: start;
    font-size: 16px;
    padding: 16px 27px;
    margin-top: 30px;
    margin-left: 70px;
}