.menu {
    display: flex;
    align-items: baseline;
}

.menu__list {
    padding: 0;
    list-style: none;
    display: flex;
    margin-left: 43px;
}

.menu__item {
    padding: 13px;
}

.menu__link {
    text-decoration: none;
    color: #1F1E25;
    font-size: 16px;
    font-weight: 400;

    &:hover {
        color: #2C36F2;
    }
    
      &:focus,
      &:active {
        color: #2C36F2;
    }
}

.menu__link--active {
    color: #2C36F2;
}

.menu__navigation-bar {
    position: relative;
    display: block;
    color: #1F1E25;
    font-size: 16px;
    text-decoration: none;
    margin-left: 160px;

    &::before {
        position: absolute;
        content: '';
        background: url('../../images/entry.svg') no-repeat center;
        width: 20px;
        height: 22px;
        top: -1px;
        left: -28px;
    }

    &:hover {
        color: #2C36F2;
    }
    
      &:focus,
      &:active {
        color: #2C36F2;
    }
}

.menu__navigation-bar:hover,
.menu__navigation-bar:focus,
.menu__navigation-bar:active {
    &::before {
        background: url('../../images/entry-hover.svg') no-repeat center;
    }
}